* {
    font-family: "Montserrat";
    background-color: #191919;
    
}

th {
    color: #E67E22;
    padding-bottom: 2.5em;
}

td {
    text-align: center;
    color: #ECF0F1;
    padding-bottom: 5;
}

td:hover {
    color: #F39C12;
}

th, td {
    padding-left: 5px;
    padding-right: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 75em;
    color: #1e1e1e;
}

.bottom {
    text-align: center;
    color: #2ECC71;
}

a.bottom {
    color: #E74C3C;
}

a.bottom:hover {
    color: #16A085;
}

hr {
    color: #16A085;
}

.mp1 {
    color: #ECF0F1;
    font-size: 40;
    text-align: center;
    padding-bottom: 0em;
}

.mp2 {
    color: #ECF0F1;
    text-align: center;
}